.homepage-banner-wrapper{
  display: block;
  text-align: center;
  width: 100%;
}

.homepage-banner{
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:90%;
}
